<div class="table-responsive">
<table class='table'>
    <thead>
        <tr>
            <th ng-repeat="header in $ctrl.headers">
                {{ header }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="isolate in $ctrl.isolates">
            <th>
                {{ isolate.isolate }}
            </th>
            <th>
                {{ isolate.scheme }}
            </th>
            <th>
                {{ isolate.st }}
            </th>
            <th ng-repeat="allele in isolate.alleles">
                {{ allele }}
            </th>
            <th>
                {{ isolate.quality }}
            </th>
        </tr>
    </tbody>

</table>
</div>
